/* -*-html-*- */
/*! \page index ccl - Customizable Configuration Library

<h2>Introduction</h2>

<h2>ccl license</h2>

Copyright &copy; 2004 <a href="mailto:sfboothATearthlink.net">Stephen
F. Booth</a>.

Permission to use, copy, modify, and distribute this software and its
documentation under the terms of the GNU General Public License is
hereby granted. No representations are made about the suitability of
this software for any purpose. It is provided "as is" without express
or implied warranty. See the <a
href="http://www.gnu.org/copyleft/gpl.html">GNU General Public
License</a> for more details.

*/
